<!doctype html>
<html>
{{ include('layout/head.twig') }}
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">RSS reader</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="/">Home</a>
            </nav>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid">

                <div class="mdl-card mdl-shadow--6dp mdl-cell mdl-cell--12-col">
                    <div class="mdl-card__title">
                        <div class="mdl-card__title-text">
                            <h1 style="text-align: center">Page not found</h1>
                        </div>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Go to the <a href="/">main page</a>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>

